version: "3.9"

services:

  # ============================================================
  # FastAPI 백엔드
  # ============================================================
  backend:
    build: ./10_backend
    # image: caffeine-backend:latest
    container_name: caf_backend
    environment:
      # AWS RDS 연결
      DB_HOST: caffeine-database.c58og6ke6t36.ap-northeast-2.rds.amazonaws.com
      DB_USER: postgres
      DB_PASSWORD: caffeineapprds
      DB_PORT: 5432
      DB_NAME: postgres
      # App
      SECRET_KEY: your-super-secret-key-change-in-production
      # Gmail SMTP
      GMAIL_ADDRESS: ${GMAIL_ADDRESS}
      GMAIL_APP_PASSWORD: ${GMAIL_APP_PASSWORD}
    ports:
      - "8001:8000"
    volumes:
      - ./10_backend/app:/app/app # 핫 리로드용

  # ============================================================
  # 프론트엔드 (관리자)
  # ============================================================
  admin_front:
    build: ./21_frontend_admin
    container_name: caf_front_admin
    ports:
      - "3001:3000"
    environment:
      NEXT_PUBLIC_API_URL: http://localhost
    depends_on:
      - backend

  # ============================================================
  # Nginx (리버스 프록시)
  # ============================================================
  nginx:
    build: ./30_nginx
    container_name: caf_nginx
    ports:
      - "80:80"
    depends_on:
      - backend
  # ============================================================
  # LLM 서비스
  # ============================================================
  llm_analysis:
    build: ./51_llm_analysis
    container_name: caf_llm_analysis
    ports:
      - "9102:9102"
    environment:
      GEMINI_API_KEY: ${GEMINI_API_KEY}
